<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="star">
	<insert id="insert" parameterType="starPointDto">
		INSERT INTO starpoint VALUES(1, 
		#{id}, #{code}, #{starvalue}
		)
	</insert>
	<update id="update" parameterType="starPointDto">
		UPDATE starpoint 
		SET starvalue=#{starvalue} 
		WHERE id=#{id} AND code=#{code}
	</update>
	<select id="select" parameterType="starPointDto" resultType="starPointDto">
		SELECT starvalue WHERE id=#{id} FROM starpoint
	</select>
</mapper>

