<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="toonComment">
	<select id="getList" parameterType="string" resultType="toonCommentDto">
		SELECT num, id, content, likecount, commcode, regdate
		FROM toon_comment
		WHERE code=#{code}
		ORDER BY likecount DESC, num DESC
	</select>
	<insert id="insert" parameterType="toonCommentDto">
		INSERT INTO toon_comment
		(num, id, code, content, likecount, commcode, regdate)
		VALUES(#{num}, #{id}, #{code}, #{content},0, #{commcode},SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT toon_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	<select id="checkLike" parameterType="toonCommentDto" resultType="String">
		select id from commentlike 
		where id=#{id} and commcode=#{commcode}
	</select>
	<insert id="addLike" parameterType="toonCommentDto">
		insert into commentlike
		values (commentlike_seq.nextval, #{id}, #{commcode}, sysdate)
	</insert>
	<delete id="delLike" parameterType="toonCommentDto">
		delete from commentlike 
		where id=#{id} and commcode=#{commcode}
	</delete>
	<update id="upLike" parameterType="toonCommentDto">
		update toon_comment 
		set likeCount=#{likeCount}+1 
		where commcode=#{commcode}
	</update>
	<update id="downLike" parameterType="toonCommentDto">
		update toon_comment 
		set likeCount=#{likeCount}-1
		where commcode=#{commcode}
	</update>
	<select id="getComment" parameterType="toonCommentDto" resultType="toonCommentDto">
		SELECT num, id,code,content, likecount, commcode, regdate
		FROM toon_comment 
		WHERE id=#{id} and commcode=#{commcode}
	</select>
	

</mapper>