<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="toon">
	<select id="getToonList" parameterType="toonDetailDto"
		resultType="toonDetailDto">
		select ROWNUM, A.* from 
		(SELECT t.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate, hashtag, toonovel,thumb, starvalue
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title and toonovel='toon'
		ORDER BY starvalue DESC) A
		where ROWNUM between 1 and 5
	</select>
	<select id="getNovelList" parameterType="toonDetailDto"
		resultType="toonDetailDto">
		select ROWNUM, A.* from 
		(SELECT t.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate, hashtag, toonovel,thumb, starvalue
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title and toonovel='novel'
		ORDER BY starvalue DESC) A
		where ROWNUM between 1 and 5
	</select>
	<select id="getDetailList" parameterType="String"
		resultType="toonListDto">
		SELECT * 
		FROM (
			SELECT ROWNUM AS num, x.starvalue
			FROM (	
				SELECT AVG(NVL(starvalue,0)) AS starvalue
				FROM (
					SELECT *
					FROM toonlist
					WHERE title=#{title}
				) x, star s
				WHERE x.code=s.code(+)	
				GROUP BY x.num
			) x
		) x, toonlist t
		WHERE t.num=x.num 
		AND title=#{title}
	</select>
	<select id="getCodeDetail" parameterType="toonListDto" resultType="toonListDto">
		SELECT result1.*
		FROM
			(SELECT num,title,writer,content,to_char(regdate,'YYYY-MM-DD')as regdate, toonlist.code,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum
			FROM toonlist
			WHERE title=#{title}
			) result1
		WHERE code=#{code}
	</select>
	<update id="cashUpdate" parameterType="usersDto">
		update users set wallet=wallet+#{wallet} where id=#{id}
	</update>
	<insert id="buyCodeOne" parameterType="libraryDto">
		insert into library values(library_seq.nextval,#{id},#{code},sysdate)
	</insert>
	<select id="checkCode" parameterType="libraryDto" resultType="libraryDto">
		select * from library where 
	</select>
	<select id="getSelectedList" parameterType="String" resultType="toonListDto">
		select * from toonlist where title=#{title}
	</select>
	<select id="getWallet" parameterType="String" resultType="int">
		select wallet from users where id=#{id}
	</select>
	<insert id="insertCode" parameterType="toonListDto">
		insert into library values(#{num},#{id},#{code},sysdate)
	</insert>
	<select id="checkLibrary" parameterType="libraryDto" resultType="libraryDto">
		select * from library where code in(select code from toonlist where title=#{title})and id=#{id}
	</select>
	
	<select id="getUnBuyList" parameterType="libraryDto" resultType="toonListDto">
		select * from toonlist where code not in(select code from library where id=#{id})and title=#{title}
	</select>
	
	<insert id="buyEach" parameterType="libraryDto">
		insert into library values(library_seq.nextval,#{id},#{code},sysdate)
	</insert>	
	<insert id="upload" parameterType="toonupDto">
		insert into toonlist (num,title,writer,content,regdate,code)
		values (#{num},#{title}, #{writer}, #{content}, sysdate, #{title}||#{num})
	</insert>
	
	<update id="minusCash" parameterType="usersDto">
		update users set wallet=wallet-#{price} where id=#{id}
	</update>	
	
	<select id="getWriterDetail" parameterType="String"
		resultType="toonDetailDto">
		SELECT x.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate, hashtag, toonovel, thumb, starvalue
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title
		AND writer like '%'||#{writer}||'%'

	</select>
	
	<select id="getTitleDetail" parameterType="String"
		resultType="toonDetailDto">
		SELECT x.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate , hashtag, toonovel,thumb, starvalue
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title
		AND x.title like '%'||#{title}||'%'

	</select>
	
	<select id="getHashtagDetail" parameterType="String"
		resultType="toonDetailDto">
		SELECT x.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate, hashtag, toonovel,thumb, starvalue
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title
		AND hashtag like '%'||#{hashtag}||'%'
	</select>	
		
	<select id="getMyToon" parameterType="String" resultType="toonDetailDto">
		select * from toondetail where writer=#{id} order by regdate desc
	</select>
	
	<select id="getLastNum" parameterType="String" resultType="Integer">
		select max(num) from toonlist where title=#{title}
	</select>
	
	<update id="plusCash" parameterType="usersDto">
		update users set wallet=wallet+#{price} where id=#{id}
	</update>
	
	<select id="checkWriter" parameterType="String" resultType="String">
		select writer from toonlist where code=#{code}
	</select>
	
	<select id="selectedToonovel" parameterType="String" resultType="toonDetailDto">
		SELECT x.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate, hashtag, toonovel, starvalue, thumb
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title
		AND toonovel=#{category}
<!-- 		select * from toondetail where toonovel=#{category} -->
	</select>
	
	<select id="selectedHashtag" parameterType="String" resultType="toonDetailDto">
		SELECT x.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate, hashtag, toonovel, starvalue, thumb
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title
		AND hashtag like '%'||#{category}||'%'
	</select>
	
	<select id="getDetailInfo" parameterType="String" resultType="toonDetailDto">
		select * from toondetail where title=#{title}
	</select>
	
	<select id="getUserStarList" parameterType="toonListDto" resultType="toonListDto">
			select * from (
				select toonlist.code,starvalue,toonlist.num,toonlist.title
				from toonlist
				inner join star on toonlist.code=star.code
				where id='${id}'
				order by title asc 
		    )		
	</select>

	<insert id="newToonup" parameterType="newToonupDto">
		insert into toondetail values (#{title}, #{writer}, #{info}, sysdate, #{hashtag}, 
		#{toonovel}, #{thumb})
	</insert>
	
	<delete id="deleteDetail" parameterType="toonDetailDto">
		DELETE FROM toondetail WHERE writer=#{writer} and title=#{title}
	</delete>
	
	<delete id="deleteList" parameterType="toonDetailDto">
		DELETE FROM toonlist WHERE writer=#{writer} and title=#{title}
	</delete>
	
	<select id="havePrev" parameterType="libraryDto" resultType="String">
		select *
		from
				(select toonlist.code
				from toonlist left outer join (select code from library where id=#{id}) library on toonlist.code=library.code
				where library.code is null)
		where code=#{code}
	</select>
	
	<select id="haveNext" parameterType="libraryDto" resultType="String">
		select *
		from
				(select toonlist.code
				from toonlist left outer join (select code from library where id=#{id}) library on toonlist.code=library.code
				where library.code is null)
		where code=#{code}
	</select>
	
	<select id="getLibrary" parameterType="String" resultType="libraryDto">
		select code from library where id=#{id}
	</select>
	<select id="getTitle" parameterType="String" resultType="String">
		select title from toonlist where code=#{code}
	</select>
	
	<insert id="writerLibrary" parameterType="toonupDto">
		insert into library (num,id,code,regdate) values (#{num},#{writer},#{title}||#{num},sysdate)
	</insert>
	<update id="lastRead" parameterType="usersDto">
		update users set lastread=#{lastread} where id=#{id}
	</update>
	<select id="getLastCode" parameterType="String" resultType="String">
		select lastread from users where id=#{id}
	</select>
	<select id="getDetail" parameterType="String" resultType="toonDetailDto">
		select * from toondetail where title=#{title}
	</select>
</mapper>



