<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="toon">
<select id="getToonList" parameterType="toonDetailDto"
      resultType="toonDetailDto">
      select rownum,A.starvalue,A.title,A.writer,A.info,to_char(A.regdate,'YYYY-MM-DD')as regdate,A.thumb from
      (select nvl(A.starvalue,0)as starvalue,d.* from
         (select title,round(avg(starvalue),2)as starvalue from
            (select t.title,
               (select avg(starvalue) from star s where t.code=s.code)as starvalue
            from toonlist t left join toondetail d on t.title=d.title
            where d.toonovel='toon' and d.permit='Y')
         group by title) A left join toondetail d on A.title=d.title
         order by starvalue desc) A
      where rownum between 1 and 5
   </select>
   <select id="getNovelList" parameterType="toonDetailDto"
      resultType="toonDetailDto">
      select rownum,A.starvalue,A.title,A.writer,A.info,to_char(A.regdate,'YYYY-MM-DD')as regdate,A.thumb from
      (select nvl(A.starvalue,0)as starvalue,d.* from
         (select title,round(avg(starvalue),2)as starvalue from
            (select t.title,
               (select avg(starvalue) from star s where t.code=s.code)as starvalue
            from toonlist t left join toondetail d on t.title=d.title
            where d.toonovel='novel' and d.permit='Y')
         group by title) A left join toondetail d on A.title=d.title
         order by starvalue desc) A
      where rownum between 1 and 5
   </select>
	<select id="getDetailList" parameterType="String"
		resultType="toonListDto">
		select num,title,writer,content,to_char(regdate,'YYYY-MM-DD')as regdate,code,
		   (select nvl(avg(starvalue),0) from star s where t.code=s.code)as starvalue,
		   (select count(num) from toon_comment c where t.code=c.code)as commCount 
		from toonlist t
		where title=#{title}
		order by num asc
	</select>
	<select id="getCodeDetail" parameterType="toonListDto" resultType="toonListDto">
		SELECT result1.*
		FROM
			(SELECT num,title,writer,content,to_char(regdate,'YYYY-MM-DD')as regdate, toonlist.code,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum
			FROM toonlist
			WHERE title=#{title}
			) result1
		WHERE code=#{code}
	</select>
	<update id="cashUpdate" parameterType="usersDto">
		update users set wallet=wallet+#{wallet} where id=#{id}
	</update>
	<insert id="buyCodeOne" parameterType="libraryDto">
		insert into library values(library_seq.nextval,#{id},#{code},sysdate)
	</insert>
	<select id="checkCode" parameterType="libraryDto" resultType="String">
		select code from library where code=#{code} and id=#{id}
	</select>
	<select id="getSelectedList" parameterType="String" resultType="toonListDto">
		select * from toonlist where title=#{title}
	</select>
	<select id="getWallet" parameterType="String" resultType="int">
		select wallet from users where id=#{id}
	</select>
	<insert id="insertCode" parameterType="toonListDto">
		insert into library values(#{num},#{id},#{code},sysdate)
	</insert>
	<select id="checkLibrary" parameterType="libraryDto" resultType="libraryDto">
		select * from library where code in(select code from toonlist where title=#{title})and id=#{id}
	</select>
	
	<select id="getUnBuyList" parameterType="libraryDto" resultType="toonListDto">
		select * from toonlist where code not in(select code from library where id=#{id})and title=#{title}
	</select>
	
	<insert id="buyEach" parameterType="libraryDto">
		insert into library values(library_seq.nextval,#{id},#{code},sysdate)
	</insert>	
	<insert id="upload" parameterType="toonupDto">
		insert into toonlist (num,title,writer,content,regdate,code,permit)
		values (#{num},#{title}, #{writer}, #{content}, sysdate, #{title}||#{num}, 'N')
	</insert>
	
	<update id="minusCash" parameterType="usersDto">
		update users set wallet=wallet-#{price} where id=#{id}
	</update>	
	
	<select id="getWriterDetail" parameterType="String"
		resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,toonovel,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,d.toonovel,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and d.writer like '%'||#{writer}||'%' order by d.writer asc)
		group by title,writer,info,regdate,thumb,toonovel

	</select>
	
	<select id="getTitleDetail" parameterType="String"
		resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,toonovel,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,d.toonovel,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and d.title like '%'||#{title}||'%')
		group by title,writer,info,regdate,thumb,toonovel
	</select>
	
	<select id="getHashtagDetail" parameterType="String"
		resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,toonovel,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,d.toonovel,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and d.hashtag like '%'||#{hashtag}||'%')
		group by title,writer,info,regdate,thumb,toonovel
	</select>	
		
	<select id="getMyToon" parameterType="String" resultType="toonDetailDto">
		select * from toondetail where writer=#{id} order by permit desc
	</select>
	
	<select id="getLastNum" parameterType="String" resultType="Integer">
		select max(num) from toonlist where title=#{title}
	</select>
	
	<update id="plusCash" parameterType="usersDto">
		update users set wallet=wallet+#{price} where id=#{id}
	</update>
	
	<select id="checkWriter" parameterType="String" resultType="String">
		select writer from toonlist where code=#{code}
	</select>
	
	<select id="selectedToonovel" parameterType="String" resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,toonovel,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,d.toonovel,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and d.toonovel=#{category})
		group by title,writer,info,regdate,thumb,toonovel
		
<!-- 		select * from toondetail where toonovel=#{category} -->
	</select>
	
	<select id="selectedHashtag" parameterType="String" resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,toonovel,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,d.toonovel,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and d.hashtag like '%'||#{category}||'%')
		group by title,writer,info,regdate,thumb,toonovel
	</select>
	
	<select id="getDetailInfo" parameterType="String" resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and t.title=#{title})
		group by title,writer,info,regdate,thumb
	</select>

	<insert id="newToonup" parameterType="newToonupDto">
		insert into toondetail values (#{title}, #{writer}, #{info}, sysdate, #{hashtag}, 
		#{toonovel}, #{thumb}, 'N')
	</insert>
	
	<delete id="deleteDetail" parameterType="toonDetailDto">
		DELETE FROM toondetail WHERE writer=#{writer} and title=#{title}
	</delete>
	
	<delete id="deleteList" parameterType="toonDetailDto">
		DELETE FROM toonlist WHERE writer=#{writer} and title=#{title}
	</delete>
	
	<select id="havePrev" parameterType="libraryDto" resultType="String">
		select *
		from
				(select toonlist.code
				from toonlist left outer join (select code from library where id=#{id}) library on toonlist.code=library.code
				where library.code is null)
		where code=#{code}
	</select>
	
	<select id="haveNext" parameterType="libraryDto" resultType="String">
		select *
		from
				(select toonlist.code
				from toonlist left outer join (select code from library where id=#{id}) library on toonlist.code=library.code
				where library.code is null)
		where code=#{code}
	</select>
	
	<select id="getLibrary" parameterType="String" resultType="libraryDto">
		select code from library where id=#{id}
	</select>
	<select id="getTitle" parameterType="String" resultType="String">
		select title from toonlist where code=#{code}
	</select>
	
	<insert id="writerLibrary" parameterType="toonupDto">
		insert into library (num,id,code,regdate) values (#{num},#{writer},#{title}||#{num},sysdate)
	</insert>
	<update id="lastRead" parameterType="usersDto">
		update users set lastread=#{lastread} where id=#{id}
	</update>
	<select id="getLastCode" parameterType="String" resultType="String">
		select lastread from users where id=#{id}
	</select>
	<select id="getDetail" parameterType="String" resultType="toonDetailDto">
		select * from toondetail where title=#{title}
	</select>
	<update id="toonListUpdate" parameterType="toonListDto">
		update toonlist set content=#{content}, permit='N' where code=#{code}
	</update>
	<update id="toonDetailUpdate" parameterType="toonListDto">
		update toondetail set permit='N' where title=#{title}
	</update>
	<select id="getMyToonList" parameterType="String" resultType="toonListDto">
		select * from toonlist where writer=#{id} order by permit desc, code desc
	</select>
	<select id="getCode" parameterType="String" resultType="String">
		select code from toonlist where title=#{title}
	</select>
	<select id="needPermit" resultType="String">
		select title from toonlist where permit='N'
	</select>
	<select id="getNoPermitDetail" parameterType="String"
		resultType="toonDetailDto">
		SELECT x.title as title, writer, info, to_char(regdate,'YYYY-MM-DD')as regdate , hashtag, toonovel,thumb, starvalue
		FROM (
			SELECT NVL(AVG(starvalue),0) AS starvalue, title
			FROM (
				SELECT *
				FROM toonlist
			) x, star s
			WHERE x.code=s.code(+)	
			GROUP BY x.title
		) x, toondetail t
		WHERE t.title=x.title
		AND x.title like '%'||#{title}||'%'
	</select>
	<select id="permitDetail" parameterType="String" resultType="toonListDto">
		SELECT num,title,writer,to_char(regdate,'YYYY-MM-DD')as 
		regdate,code from toonlist where title=#{title} and permit='N' order by num asc
	</select>
	<select id="permitCode" parameterType="toonListDto" resultType="toonListDto">
		select num,title,writer,content,to_char(regdate,'YYYY-MM-DD')as regdate,code,permit 
		from toonlist where title=#{title} and code=#{code}
	</select>
	<update id="permit_update" parameterType="toonListDto">
		update toonlist set permit=#{permit} where title=#{title} and code=#{code}
	</update>
	<update id="permit_update_detail" parameterType="toonDetailDto">
		update toondetail set permit='Y' where title=#{title}
	</update>
	<select id="allDetailList" resultType="toonDetailDto">
		select * from toondetail where permit='Y'
	</select>
	<update id="updateDetail" parameterType="toonDetailDto">
		update toondetail 
		set info=#{info}, hashtag=#{hashtag}, toonovel=#{toonovel} 
		where title=#{title}
	</update>
	<delete id="deleteCode" parameterType="String">
		delete from toonlist where code=#{code}
	</delete>
	<update id="updateList" parameterType="toonListDto">
		update toonlist set content=#{content}, permit='N' where code=#{code}
	</update>
	<update id="updateThumb" parameterType="toonDetailDto">
		update toondetail set thumb=#{thumb} where title=#{title}
	</update>
	<select id="manageDetail" parameterType="String" resultType="toonListDto">
		select * from toonlist where title like '%'||#{title}||'%' and permit='Y' order by num asc
	</select>
	<select id="searchMyToon" parameterType="String" resultType="toonDetailDto">
		select title,writer,info,to_char(regdate,'YYYY-MM-DD')as regdate,thumb,toonovel,round(avg(starvalue),2)as starvalue from
		(select t.title,t.writer,d.info,d.regdate,d.thumb,d.toonovel,
		   (select avg(starvalue) from star s where t.code=s.code)as starvalue
			from toonlist t left join toondetail d on t.title=d.title
			where t.permit='Y' and d.writer=#{writer})
		group by title,writer,info,regdate,thumb,toonovel
	</select>
</mapper>



