<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="toonComment">
	<select id="getCount" parameterType="toonCommentDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM toon_comment
		WHERE code=#{code}
	</select>

	<select id="getList" parameterType="toonCommentDto" resultType="toonCommentDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum	
			FROM	
				(SELECT num, id, content, likecount, commcode, to_char(regdate,'YYYY-MM-DD') as regdate,code
				FROM toon_comment
			WHERE code=#{code}
			ORDER by num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<insert id="insert" parameterType="toonCommentDto">
		INSERT INTO toon_comment
		(num, id, code, content, likecount, commcode, regdate)
		VALUES(#{num}, #{id}, #{code}, #{content},0, #{commcode},SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT toon_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	<select id="checkLike" parameterType="toonCommentDto" resultType="String">
		select id from commentlike 
		where id=#{id} and commcode=#{commcode}
	</select>
	<insert id="addLike" parameterType="commentLikeDto">
		insert into commentlike
		values (commentlike_seq.nextval, #{id}, #{commcode}, sysdate,#{code})
	</insert>
	<delete id="delLike" parameterType="commentLikeDto">
		delete from commentlike 
		where id=#{id} and commcode= #{commcode}
	</delete>
	<update id="upLike" parameterType="String">
		update toon_comment 
		set likeCount=likeCount+1 
		where commcode= #{commcode}
	</update>
	<update id="downLike" parameterType="String">
		update toon_comment 
		set likeCount=likeCount-1
		where commcode= #{commcode}
	</update>
	<select id="getCommentLike" parameterType="CommentLikeDto" resultType="CommentLikeDto">
		SELECT commcode
		FROM  commentlike  
		WHERE id=#{id} and code=#{code}
	</select>
	<select id="checkLikeCount" parameterType="String" resultType="int">
		select likecount from toon_comment where commcode=#{commcode}
	</select>
	<delete id="deleteComment" parameterType="int">
		DELETE FROM toon_comment WHERE num=#{num}
	</delete>
	<update id="updateComment" parameterType="CommentLikeDto">
		UPDATE toon_comment
		set content=#{content}
		where num=#{num}
	</update>
</mapper>