<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="java.lang.String" resultType="String">
		SELECT id
		FROM users
		WHERE id=#{inputId}
	</select>
	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(num, id, pwd, email, isWriter, wallet,regdate)
		VALUES(users_seq.NEXTVAL, #{id}, #{pwd},#{email},'N',3000, SYSDATE)
	</insert>
	<select id="getPwdHash" parameterType="String" resultType="String">
		SELECT pwd 
		FROM users
		WHERE id=#{inputId}
	</select>
	<select id="getData" parameterType="String" resultType="usersDto">
		SELECT id,pwd,email,to_char(regdate,'YYYY-MM-DD')as regdate,profile,isWriter,wallet
		FROM users
		WHERE id=#{id}
	</select>
	
	<update id="updateProfile" parameterType="usersDto">
		UPDATE users
		SET profile=#{profile}
		WHERE id=#{id}
	</update>
	
	<update id="updatePwd" parameterType="usersDto">
		UPDATE users
		SET pwd=#{pwd}
		WHERE id=#{id}
	</update>
	
	<update id="updateUser" parameterType="usersDto">
		UPDATE users
		SET email=#{email}
		WHERE id=#{id}
	</update>
	
	<select id="getUserStarList" parameterType="toonListDto" resultType="toonListDto">
		select * from (
			select toonlist.code,starvalue,toonlist.num,toonlist.title
			from toonlist
			inner join star on toonlist.code=star.code
			where id='${id}'
			order by title asc 
	    )		
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
	
	<select id="getWallet" parameterType="String" resultType="int">
		select wallet from users where id=#{inputId}
	</select>
	
	<select id="getLogin" parameterType="String" resultType="int">
		SELECT login FROM users WHERE id=#{inputId}
	</select>
	
	<select id="getIp" parameterType="String" resultType="String">
		SELECT ip FROM users WHERE id=#{inputId}
	</select>
	
	<update id="setIp" parameterType="usersDto">
		UPDATE users
		SET ip=#{ip}, login=1
		WHERE id=#{id}
	</update>
	
	<update id="invalidateLog" parameterType="String">
		UPDATE users
		SET ip=null, login=0
		WHERE id=#{id}
	</update>
</mapper>




