@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');
/* 상단 navbar 때문에 필요한 css */
a, a:link,a:hover{
	color:#000;
	text-decoration:none;
	outline:none;
}
body{
	padding-top: 60px;
	font-family: 'Nanum Gothic', sans-serif;
}
h1{
	font-size:0px;
}
.logo{
	margin:5px auto;
}
@media (max-width: 992px) {
  .logo {
    padding-left:30px;
    text-align:left;
  }
}
.right-box{
	position:absolute;
	top:0;
	right:0;
	padding-right:20px;
}
.navbar{
	margin-bottom:10px;
}
nav.navbar{
	border-bottom: 1px solid rgb(223, 223, 223);
	padding-top:25px;
}
.nav-center{
	text-align:center;
}
.navbar-inverse{
	background-color:#fff;
	border-color:#fff;
}
.navbar-inverse .navbar-nav > li > a{
	color:#333333;
}
.navbar-inverse .navbar-nav > li > a:hover{
	color:#333333;
}
a{
	color:#333333;
}
.nav > li{
	display:inline-block;
}
.nav > li.active{
	border-bottom:3px solid #ffd200;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color:#fff;
}
.nav > li > a{
	font-size:25px;
}
.search{
	line-height: 23px;
    display: inline-block;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    border-image: initial;
    background: rgb(255, 255, 255);
    border-radius: 30px;
}
.contentwrapper{
	min-height:1000px;
	background-color:#eee;
	margin-top:80px;
	border-top:20px solid #eee;
}
.content{
	background-color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:10px solid #eee;
	border-top:10px solid #eee;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}
 #star_grade a{
    text-decoration: none;
    color: gray;
}
#star_grade a.on{
    color: red;
}
ul{
	list-style:none;
	margin:0 auto;
	padding:0;
}
.bestList{
	width:100%;
}
div.list{
	width:100%;
	height: 110px;
	margin:10px 10px;
}
div.book-list{
	width:100%;
	height: 180px;
	margin:10px 10px;
}
.imgwrapper{
	position: relative;
	float: left;
}
.img-thumbnail{
	width:150px; 
	height:100px; 
	border-radius: 10px;
	padding:0px;
}
.img-book{
	width:120px;
	height: 174px;
	border-radius: 10px;
	padding:0px;
}
.textwrapper{
	position: relative;
	float:left;
	padding:10px 20px;
	width:70%;
}
.list-title{
	margin:0;
	font-size:16px;
	color:#333333;
}
.list-writer{
	font-size:14px;
	color:#999999;
}
.list-info{
	width:70%;
	word-break: keep-all;
	/*margin:0 0 25px;*/
	font-size:14px;
	color:#999999;
}
.list-date{
	border:1px solid red;
}
.slide{
	padding:0px;
	border:0px;
	border-top:10px solid #eee;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
	background-color:#fff;
	border-color:#fff;
}
.btn-link:hover, .btn-link:focus{
	text-decoration: none;
}
.btn:active{
	-webkit-box-shadow:none;
	box-shadow:none;
	outline:none;
}
button.dropdown-toggle{
	border-color:#fff;
	padding:6px 12px 6px 24px;
	font-size:16px;
}
button.dropdown-toggle:hover{
	background-color:#fff;
	border-color:#fff;
}
button.dropdown-toggle:active{
	background-color:#fff;
	border-color:#fff;
	outline:none;
}
button.dropdown-toggle:focus{
	background-color:#fff;
	border-color:#fff;
	outline:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
	outline:none;
}
.dropdown-menu{
	padding:0px;
}
.dropdown-menu li{
	border-bottom: 1px solid rgb(230, 230, 230);
	padding:10px 0 0 5px;
	height: 50px;
	
}
.dropdown-menu li:first-child{
	background: rgb(231, 238, 255);
	height: 70px;
	
}
.dropdown-menu li a{
	width: 100%;
	height: 100%;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color:#fff;
}
input#keyword{
	border:0px;
	width:100px;
}
input#keyword:focus{
	outline:none;
}
select{
	border:0px;
	outline:none;
	padding-left: 10px;
	width:65px;
}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus{
	color:#9d9d9d;
	outline:none;
	text-decoration:none;
}
div.popwrapper{
	height:100%;
	max-width:500px;
	margin:0 auto;
	border:1px solid #dbdbdb;
	border-top:0 none;
	background-color:#eee;
}
